@page "/cv_file"


<h3>Download my Cv</h3>

<p>Click <a href="https://drive.google.com/file/d/16yATEOpRn2Wyb7qjilAFmdXzGCU-5PUD/view?usp=sharing" target="_blank">here</a> to get a CV file</p>

@code {
    
}
